html, body{
    width: 100%;
    height: 100%;
    font-size: $body_font-size;
    @include laptop{
        font-size: 13px;
    }
    @include tablet{
        background-color: $darkgrey;
        font-size: 18px;
    }
    @include phonelandscape{
        font-size: 26px;
    }
    @include phone{
        font-size: 44px;
    }
}

body{
    line-height: $body_line-height;
    -webkit-font-smoothing: antialiased;
    @include SansPro();
}

.clearfix{
    content: "";
    clear: both;
    display: table;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    position: relative;
    min-width: $container_width+20;
}

// .wrapper::after{
//     content:"";
//     display: block;
//     height: $footer_height;
//     overflow: hidden;
// }

.container{
    width: $container_width;
    margin: 0 auto;
    @include laptop{
        width: 960px;
    }
    @include tablet{
        width: 720px;
    }
    @include phonelandscape{
        width: 540px;
    } 
    @include phone{
        width: 90%;
    }
}

* {
    box-sizing: border-box;
}

li{
    list-style: none;
}

ul{
    padding: 0;
    margin: 0;
}

// footer{
//     height: $footer_height;
//     width: 100%;
//     margin-top: -$footer_height;
//     position: relative;
//     min-width: $container_width+20;
// }

h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    font-weight: normal;
}